* {
    font-family: monospace    
}

*:focus {
    outline: 0;
    box-shadow: 3px 5px 4px 0px rgba(0, 0, 0, 0.3);
}

body {
    box-sizing: border-box;
    background-color: #000000;
    background: url(../img/crawford-jolly-1478647-unsplash.jpg) no-repeat;
    background-size: cover;    margin: 0;
}

main {
    height: 100vh;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.main-container {
    margin: 2rem;
}

.logo-container {
    align-self: center;
}