* {
    font-family: monospace;
    color: #f0f2eb;   
}

@font-face {
    font-family: "Veselka";
    src: url("/fonts/Veselka 4F.ttf");
}

*:focus {
    outline: 0;
    box-shadow: 0 0 4px 2px rgba(240, 242, 235, 0.3);
}

body {
    box-sizing: border-box;
    background-color: #b5592a;
    margin: 0;
}
body::after {
    content: "";
    background: url(../img/disco.gif) repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}


.login-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 40px);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* align-items: center; */
    min-height: 150%;
    width: 90%;
    background: rgba(240, 144, 39, 0.6);
}

.header-bar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f0f2eb;
    
}
.header-bar > * {
    margin: 10px;
    
}

.logo {
    display: flex;
    align-items: baseline;
    cursor: pointer;
}
.logo-link {
    margin-left: 5%;
}
.logo > img {
    height: 56px;
}
.logo-text {
    font-family: "Veselka";
    font-size: 5em;
    text-transform: uppercase;
    color: #b5592a;
}

.nav-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}
.nav-area > * > * {
    color: #8cbeaa;
}
#burger-menue {
    height: 55px;
    padding: 10px;
    margin-right: 10px;
}

.avatar {
    background: #8cbeaa;
    border-radius: 5%;
    border: 2px solid #b5592a;
    overflow: hidden;
    width: 56px;
    height: 64px;
}
.avatar > img {
    width: 56px;
    height: 64px;
}
.avatar-bigger {
    width: 205px;
    height: 235px;
    border: 5px solid #b5592a;
}
.avatar-bigger > img {
    width: 205px;
    height: 235px;
}
.avatar-bigger > i {
    position: relative;
    top: 62px;
    left: 48px;
}
.fas.fa-user.fa-5x {
    transform: scale(3);
    margin: 10%;
}

.img-upload {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-gallery {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-wrapper {
    width: 100px;
    height: 150px;
    border: 1px solid #f0f2eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: 1px;
}
.img-wrapper > img {
    height: 100px;
}

#box-upload {
    background: #e9e4e6;
    outline: 1px dashed black;
    outline-offset: -5px;
    min-height: 5rem;
    width: 95%;
    padding-right: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
#box-upload.box-upload-drag {
    background: #f6f5f5;
    outline-offset: -8px;
}
#box-upload label {
    padding: 5px;
    cursor: pointer;
}

#box-upload input {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.files > * {
    font-size: 0.5em;
}
#box-uploading {
    background: #f6f5f5;
    outline: 1px dashed black;

    min-height: 5rem;
    /* width: 95%; */
    padding-right: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    animation: 2s loading-line infinite;
    animation-timing-function: linear;
}

.booth-up-prev {
    padding: 10px;
    background: #f6f5f5;
    outline: 1px dashed black;
    outline-offset: -5px;
}

.modal-outer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.modal-outer > * {
    max-width: 50%;
    max-height: 80%;
    background: #8cbeaa;
    border-radius: 5%;
    border: 5px solid #b5592a;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 10px;
}
.main-menue {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    background: #f0f2eb;
    color: #b5592a;
    border-radius: 0;
    border: none;
    display: flex;
    flex-direction: column;
}
.main-menue > * {
    color: #b5592a;
    margin: 5px;
}

.net-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    margin: 40px;
}

.profile-area {
    margin: 5%;
    display: flex;
    flex-direction: column;
}
.profile-content {
    display: flex;
}
.profile-content > * {
    margin-right: 5%;
} 


.friend-card {
    width: 150px;
    display: grid;
    grid-template: 2fr 0.5fr / 1fr 2fr;
    border: 2px solid #8cbeaa;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
}
.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90px;
    height: 68px;
}
.card-footer {
    grid-row-start: 2;
    grid-column: 1 / 3;
}

.friends-list {
    margin: 2%;
}
.friends {
    display: flex;
}


.photo-booth {
    padding-top: 0px;
}

.capture-view, .snap-view {
    border-radius: 5%;
    border: 2px solid #b5592a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.capture-view {
    margin-bottom: 10px;
}


/*//////////////////////////////////// chat stuff //////////////////////////////////////  */

.active-users {
    display: flex;
    margin-top: 5px;
    margin-right: 1%;
    margin-left: 1%;
}

.chat-area, .search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-bigger {
    height: 2em;
    background: rgba(240, 144, 39, 0.5);
    margin-bottom: 2em;
}

.mass-chat {
    width: 95%;
    height: 500px;
    background: rgba(240, 144, 39, 0.4);
    border-radius: 10px;
    padding: 10px;
    overflow: scroll;
}

.chat-card {
    display: flex;
    margin: 5px;
}
.chat-msg {
    margin-left: 5px;
}

.border-move {
	background-image: linear-gradient(90deg, #f0f2eb 50%, transparent 50%), linear-gradient(90deg, #f0f2eb 50%, transparent 50%), linear-gradient(0, #f0f2eb 50%, transparent 50%), linear-gradient(0, #f0f2eb 50%, transparent 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 50px 5px, 50px 5px, 5px 50px, 5px 50px;
	animation: moving-border 2000ms infinite linear;
}

/*//////////////////////////////////// stories ////////////////////////////////////////////  */

.wall {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.wall > form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    width: 50%;
}
.wall > form > input {
    margin-bottom: 2px; 
}

.inner-wall{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-height: 600px;
    background: rgba(240, 144, 39, 0.4);
    border-radius: 10px;
    padding: 10px;
    overflow: scroll;
}

.thin-line {
    border-bottom: 1px solid #f0f2eb;
    padding: 15px;
    width: 40%;
    align-self: center;
}

/*////////////////////////////////////  control surface ////////////////////////////////  */
button {
    background: none;
    border: 2px solid #8cbeaa;
    border-radius: 5px;
    font-size: 14px;
    margin: 1px;
}
button:hover {
    background: #b5592a;
    opacity: 0.8;
}

.button-invert {
    border: 2px solid #f0f2eb;
}
.button-full {
    width: 100%;
}
.button-inline {
    display: flex;
}

input, textarea {
    background: rgba(240, 144, 39, 0.3);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    margin: 2px;
    width: 250px;
}
.modal-outer input, .modal-outer textarea {
    background: rgba(181, 89, 42, 0.3);
}

.exitor {
    /* align-self: flex-end; */
    cursor: pointer;
}

.exit-right {
    align-self: flex-end;
    padding: 5px;
}
.exit-right:hover {
    color: #b5592a;
}

/*//////////////////////////////////// colors ////////////////////////////////////////  */

.orange {
    color: #b5592a;
}

.fray {
    color: #8cbeaa;
}
.beige {
    color: #f0f2eb
}

/*//////////////////////////////////// media queries /////////////////////////////////  */

@media (max-width: 580px) {
    .logo > img {
        height: 33px;
    }
    .logo-text {
        font-size: 3em;
    }
    .avatar {
        width: 36px;
        height: 44px;
    }
    .avatar > img {
        width: 36px;
        height: 44px;
    }
    /* .avatar-bigger {
        width: 145px;
        height: 135px;
    }
    .avatar-bigger > img {
        width: 115px;
        height: 135px;
    } */
    #burger-menue {
        height: 35px;
        padding: 10px;
        margin-right: 10px;
    }
    .friend-card {
        width: 120px;
        height: 64px;
        grid-template: 50px 30px / 30px 90px;
    }
    .friend-card > *, .button-full {
        font-size: 0.8em;
    }
    .modal-outer > * {
        max-height: 100%;
    }
}
@media (max-width: 380px) {
    .nav-area .avatar, .nav-area a {
        display: none;
    }
    button {
        font-size: 0.8em;
    }
    .avatar-bigger > i {
        position: relative;
        top: 8px;
        left: 0;
        transform: none !important;
    }
}

/*//////////////////////////////////// animations ////////////////////////////////////  */

@keyframes loading-line {
    0% { outline-offset: -9px; }
    12% { outline-offset: -8px; }
    25% { outline-offset: -7px; }
    36% { outline-offset: -6px; }
    50% { outline-offset: -5px; }
    62% { outline-offset: -4px; }
    75% { outline-offset: -3px; }
    89% { outline-offset: -2px; }
    100% { outline-offset: -1px; }
}

@keyframes moving-border {
	0% {
		background-position: 0 0, 50px 100%, 0 50px, 100% 0;
	}

	100% {
		background-position: 50px 0, 0 100%, 0 0, 100% 50px;
	}
}